﻿################################################################################
# 过滤Git Push文件
################################################################################
.idea/
.vs/
packages/
Release/
obj/
bin/
node_modules/
*.pdb
*.command
wwwroot/
data/